<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer>
            <!-- FOOTER -->
            <!-- Благодаря дополнительной библиотеке которую мы опционально подключали в pom мы моежм использовать
            вспомогательные теги и без особых трудностей выводить имя пользователя на странице
            ВАЖНО! Старайтесь писать на английском, даже если не имеете подобного опыта(переводчик),
            это сэкономит вам нервы(проблемы с кодировками, фильтры) и даст бесценный опыт в будущем -->
            © 2019 aa.kz
            <span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
            <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
            <script src="../../../libs/slick/slick.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript" src="../../../js/javascript.js"></script>
            <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>

</div>
</body>
</html>