<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <!-- стили -->
        <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap-reboot.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Muli:300,400,600,700,800&amp;subset=cyrillic"
        rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../../libs/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="../../../libs/slick/slick-theme.css">
        <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap-grid.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="../../../libs/slick/slick.min.js" type="text/javascript"></script>
        <script src="../../../js/javascript.js" type="text/javascript"></script>
        <script src="../../../js/authorization_script.js" type="text/javascript"></script>
        <link rel="stylesheet" href="../../../css/main.css">

    </div>
</head>
<body>
<div th:fragment="header">
    <!-- navigation -->
    <nav class="nav-wrapper">
        <div class="container">
            <div class="row">
               <div class="logo--head">
                   <div class="col-md-2">
                       <a th:href="@{/home}" class="logo">kazsauda</a>
                   </div>
               </div>
                <div class="col-md-9">
                    <!-- navigation begin -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!-- DROPDOWN BEGIN -->
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Muzikaliq aspap</a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/dombra}" class="submenu--link">Dombra</a></li>
                                    <li><a href="#" class="submenu--link">Kobiz</a></li>
                                    <li><a href="#" class="submenu--link">Zhetygen</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ashekey byim</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">Alqa</a></li>
                                    <li><a href="#" class="submenu--link">Bilezik</a></li>
                                    <li><a href="#" class="submenu--link">Saqina</a></li>
                                    <li><a href="#" class="submenu--link">Shaspay</a></li>
                                    <li><a href="#" class="submenu--link">Sholpy</a></li>
                                    <li><a href="#" class="submenu--link">Syrga</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ylttiq kyimder</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">Ayaqkiym</a></li>
                                    <li><a href="#" class="submenu--link">Bas kyim</a></li>
                                    <li><a href="#" class="submenu--link">Komzol</a></li>
                                    <li><a href="#" class="submenu--link">Koylek</a></li>
                                    <li><a href="#" class="submenu--link">Shapan</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Idis ayaq</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ulttiq byim</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="modal" data-target="#exampleModal" sec:authorize="!isAuthenticated()">Autorization</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/page}" class="navigation__link" sec:authorize="hasAuthority('ADMIN')">Для Администратора</a>
                            </li>
                            <!-- DROPDOWN END -->
                        </ul>
                    </div>

                    <!-- MODAL WINDOW -->
                    <div class="modal" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                                <div class="form-froup">
                                                    <label for="inputEmail">Email</label>
                                                    <input type="email" class="form-control" id="inputEmail" aria-describdby="emailHelp" name="email"
                                                           placeholder="Email адресс">
                                                    <small id="emailHelp" class="form-text text-muted">Enter your email</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="inputPass">Пароль</label>
                                                    <input type="password" class="form-control" id="inputPass" name="password"
                                                    placeholder="Пароль">
                                                    <small id="passHelp" class="form-text text-muted">Минимум 5 символов</small>
                                                </div>
                                                <br>
                                                <div id="generalErrorMessage" class="error-lbl" style="display:none;"></div>
                                                <button class="btn btn-light" id="login">Войти</button>
                                                <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal" aria-label="Close">Регистрация</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL 2 -->
                    <div class="modal" id="exampleModal2" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModal2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Регистрация</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form th:object="${user}" method="post" th:action="@{/registration}">
                                                <div class="form-froup">
                                                    <label for="inputName">Имя</label>
                                                    <input type="text" class="form-control" th:field="*{name}" id="inputName" aria-describdby="emailHelp"
                                                           placeholder="Иван">
                                                    <small id="nameHelp" class="form-text text-muted">Введите имя</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="inputLastName">фамилия</label>
                                                    <input type="text" class="form-control" th:field="*{lastName}" id="inputLastName" aria-describdby="emailHelp"
                                                           placeholder="Иванов">
                                                    <small id="lastNameHelp" class="form-text text-muted">Введите фамилию</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="inputLastName">Cтрана</label>
                                                    <input type="text" class="form-control" th:field="*{country}" id="inputCountry" aria-describdby="emailHelp"
                                                           placeholder="Казахстан">
                                                    <small id="countryHelp" class="form-text text-muted">Введите страну</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="inputLastName">Город</label>
                                                    <input type="text" class="form-control" th:field="*{city}" id="inputCity" aria-describdby="emailHelp"
                                                           placeholder="Костанай">
                                                    <small id="cityHelp" class="form-text text-muted">Введите город</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="inputEmailReg">Email adress</label>
                                                    <input type="email" class="form-control" th:field="*{email}" id="inputEmailReg" aria-describdby="emailHelp"
                                                           placeholder="Email">
                                                    <small id="emailHelpReg" class="form-text text-muted">Введите ваш существующий e-mail</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="inputPass">Пароль</label>
                                                    <input type="password" class="form-control" th:field="*{password}" id="inputPassReg"
                                                           placeholder="Пароль">
                                                    <small id="passHelpReg" class="form-text text-muted">Минимум 5 символов</small>
                                                </div>
                                                <br>
                                                <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" aria-label="Close">Войти</button>
                                                <button class="btn btn-light">Регистрация</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- navigation end -->

                </div>
                <div class="col-md-1">
                    <div class="cart">
                        <a th:href="@{/shopping-cart}">
                        <img src="/images/icons/1-1.svg" alt="" height="28px">
                            <div class="cart__number" th:text="${amountItems}"></div>
                        </a>
                        <div sec:authorize="isAuthenticated()">
                            <li><a th:href="@{/logout}">Выйти (<span sec:authentication="principal.username"></span>)</a>
                            </li>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </nav>


    <!-- header	 -->
    <header class="header">
        <div class="container">
            <div class="header__bg"></div>
            <div class="header__content">
                <div class="header__title">Ulttyq kyimder qol zhetymdi bagada</div>
                <div class="header__description">Демо описание пример: текст какой-то еще больше
                    текста something ewe ewe ewe text

                </div>
                <a href="#" class="header__button">Перейти</a>
            </div>
        </div>
    </header>
</div>
    <div th:fragment="header-for-admin-panel">
        <nav class="nav-wrapper">
            <div class="container">
                <div class="row">
                <div class="logo-head">
                    <div class="col-md-2">
                        <a th:href="@{/home}" class="logo">kazsauda</a>
                    </div>
                </div>
                    <div class="col-md-9">
                        <div class="navigation">
                           <a th:href="@{/admin/page}" class="navigation__link" sec:authorize="hasAuthority('ADMIN')">ADMIN PANEL</a>
                        </div>
                    </div>



                </div>
            </div>
        </nav>
    </div>
</div>

<div th:fragment="header-for-category">
    <!-- navigation -->
    <nav class="nav-wrapper">
        <div class="container">
            <div class="row">
              <div class="logo--head">
                  <div class="col-md-2">
                      <a th:href="@{/home}" class="logo">kazsauda</a>
                  </div>
              </div>
                <div class="col-md-9">
                    <!-- navigation begin -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1-admin-panel">
                        <ul class="nav navbar-nav">
                            <!-- DROPDOWN BEGIN -->
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Colection</a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/dombra}" class="submenu--link">Dombra</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Zhanalyq</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">1</a></li>
                                    <li><a href="#" class="submenu--link">2</a></li>
                                    <li><a href="#" class="submenu--link">3</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ylttiq kyimder</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Erler</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ayelder</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="modal" data-target="#exampleModal" sec:authorize="!isAuthenticated()">Autorization</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/page}" class="navigation__link" sec:authorize="hasAuthority('ADMIN')">Для Администратора</a>
                            </li>
                            <!-- DROPDOWN END -->
                        </ul>
                    </div>

                    <!-- MODAL WINDOW -->
                    <div class="modal" id="exampleModal-admin-panel" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-admin-panel">Авторизация</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form method="post" th:action="@{/login}">
                                                <div class="form-froup">
                                                    <label for="InputEmail-admin-panel">Email</label>
                                                    <input type="email" class="form-control" id="inputEmail-admin-panel" aria-describdby="emailHelp" name="email"
                                                           placeholder="Email адресс">
                                                    <small id="emailHelp-admin-panel" class="form-text text-muted">Enter your email</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="InputPass-admin-panel">Пароль</label>
                                                    <input type="password" class="form-control" id="inputPass-admin-panel" name="password"
                                                           placeholder="Пароль">
                                                    <small id="passHelp-admin-panel" class="form-text text-muted">Минимум 5 символов</small>
                                                </div>
                                                <br>
                                                <div id="generalErrorMessage-admin-panel" class="error-lbl" style="display:none;"></div>
                                                <button class="btn btn-light" id="login-admin-panel">Войти</button>
                                                <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal" aria-label="Close">Регистрация</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL 2 -->
                    <div class="modal" id="exampleModal2-admin-panel" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModal2-admin-panel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2-admin-panel">Регистрация</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form th:object="${user}" method="post" th:action="@{/registration}">
                                                <div class="form-froup">
                                                    <label for="InputName-admin-panel">Имя</label>
                                                    <input type="text" class="form-control" th:field="*{name}" id="InputName-admin-panel" aria-describdby="emailHelp"
                                                           placeholder="Иван">
                                                    <small id="nameHelp-admin-panel" class="form-text text-muted">Введите имя</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="InputLastName-admin-panel">фамилия</label>
                                                    <input type="text" class="form-control" th:field="*{lastName}" id="InputLastName-admin-panel" aria-describdby="emailHelp"
                                                           placeholder="Иванов">
                                                    <small id="lastNameHelp-admin-panel" class="form-text text-muted">Введите фамилию</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="InputCountry-admin-panel">Cтрана</label>
                                                    <input type="text" class="form-control" th:field="*{country}" id="InputCountry-admin-panel" aria-describdby="emailHelp"
                                                           placeholder="Казахстан">
                                                    <small id="countryHelp-admin-panel" class="form-text text-muted">Введите страну</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="InputCity-admin-panel">Город</label>
                                                    <input type="text" class="form-control" th:field="*{city}" id="InputCity-admin-panel" aria-describdby="emailHelp"
                                                           placeholder="Костанай">
                                                    <small id="cityHelp-admin-panel" class="form-text text-muted">Введите город</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputEmailReg">Email adress</label>
                                                    <input type="email" class="form-control" th:field="*{email}" id="exampleInputEmailReg-admin-panel" aria-describdby="emailHelp"
                                                           placeholder="Email">
                                                    <small id="emailHelpReg-admin-panel" class="form-text text-muted">Введите ваш существующий e-mail</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputPassReg">Пароль</label>
                                                    <input type="password" class="form-control" th:field="*{password}" id="exampleInputPassReg-admin-panel"
                                                           placeholder="Пароль">
                                                    <small id="passHelpReg-admin-panel" class="form-text text-muted">Минимум 5 символов</small>
                                                </div>
                                                <br>
                                                <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" aria-label="Close">Войти</button>
                                                <button class="btn btn-light" onclick="alertmsg('hello!');">Регистрация</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- navigation end -->

                </div>
                <div class="col-md-1">
                    <div class="cart">
                        <a th:href="@{/shopping-cart}">
                            <img src="/images/icons/1-1.svg" alt="" height="28px">
                            <div class="cart__number" th:text="${amountItems}"></div>
                        </a>
                        <div sec:authorize="isAuthenticated()">
                            <li><a th:href="@{/logout}">Выйти (<span sec:authentication="principal.username"></span>)</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="header-for-cart">
    <!-- navigation -->
    <nav class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="logo--head">
                    <div class="col-md-2">
                        <a th:href="@{/home}" class="logo">kazsauda</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- navigation begin -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1-for-cart">
                        <ul class="nav navbar-nav">
                            <!-- DROPDOWN BEGIN -->
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Colection</a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/dombra}" class="submenu--link">Dombra</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Zhanalyq</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">1</a></li>
                                    <li><a href="#" class="submenu--link">2</a></li>
                                    <li><a href="#" class="submenu--link">3</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ylttiq kyimder</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Erler</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="dropdown">Ayelder</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="submenu--link">First</a></li>
                                    <li><a href="#" class="submenu--link">Second</a></li>
                                    <li><a href="#" class="submenu--link">Third</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="navigation__link" data-toggle="modal" data-target="#exampleModal" sec:authorize="!isAuthenticated()">Autorization</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/page}" class="navigation__link" sec:authorize="hasAuthority('ADMIN')">Для Администратора</a>
                            </li>
                            <!-- DROPDOWN END -->
                        </ul>
                    </div>

                    <!-- MODAL WINDOW -->
                    <div class="modal" id="exampleModal-for-cart" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-for-cart">Авторизация</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form method="post" th:action="@{/login}">
                                                <div class="form-froup">
                                                    <label for="InputEmail-for-cart">Email</label>
                                                    <input type="email" class="form-control" id="inputEmail-for-cart" aria-describdby="emailHelp" name="email"
                                                           placeholder="Email адресс">
                                                    <small id="emailHelp-for-cart" class="form-text text-muted">Enter your email</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="InputPass-for-cart">Пароль</label>
                                                    <input type="password" class="form-control" id="inputPass-for-cart" name="password"
                                                           placeholder="Пароль">
                                                    <small id="passHelp-for-cart" class="form-text text-muted">Минимум 5 символов</small>
                                                </div>
                                                <br>
                                                <div id="generalErrorMessage-for-cart" class="error-lbl" style="display:none;"></div>
                                                <button class="btn btn-light" id="login-for-cart">Войти</button>
                                                <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal2" data-dismiss="modal" aria-label="Close">Регистрация</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL 2 -->
                    <div class="modal" id="exampleModal2-for-cart" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModal2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2-for-cart">Регистрация</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form th:object="${user}" method="post" th:action="@{/registration}">
                                                <div class="form-froup">
                                                    <label for="exampleInputName-for-cart">Имя</label>
                                                    <input type="text" class="form-control" th:field="*{name}" id="exampleInputName-for-cart" aria-describdby="emailHelp"
                                                           placeholder="Иван">
                                                    <small id="nameHelp-for-cart" class="form-text text-muted">Введите имя</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputLastName-for-cart">фамилия</label>
                                                    <input type="text" class="form-control" th:field="*{lastName}" id="exampleInputLastName-for-cart" aria-describdby="emailHelp"
                                                           placeholder="Иванов">
                                                    <small id="lastNameHelp-for-cart" class="form-text text-muted">Введите фамилию</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputCountry-for-cart">Cтрана</label>
                                                    <input type="text" class="form-control" th:field="*{country}" id="exampleInputCountry-for-cart" aria-describdby="emailHelp"
                                                           placeholder="Казахстан">
                                                    <small id="countryHelp-for-cart" class="form-text text-muted">Введите страну</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputCity-for-cart">Город</label>
                                                    <input type="text" class="form-control" th:field="*{city}" id="exampleInputCity-for-cart" aria-describdby="emailHelp"
                                                           placeholder="Костанай">
                                                    <small id="cityHelp-for-cart" class="form-text text-muted">Введите город</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputEmailReg">Email adress</label>
                                                    <input type="email" class="form-control" th:field="*{email}" id="exampleInputEmailReg" aria-describdby="emailHelp"
                                                           placeholder="Email">
                                                    <small id="emailHelpReg-for-cart" class="form-text text-muted">Введите ваш существующий e-mail</small>
                                                </div>
                                                <div class="form-froup">
                                                    <label for="exampleInputPassReg">Пароль</label>
                                                    <input type="password" class="form-control" th:field="*{password}" id="exampleInputPassReg"
                                                           placeholder="Пароль">
                                                    <small id="passHelpReg-for-cart" class="form-text text-muted">Минимум 5 символов</small>
                                                </div>
                                                <br>
                                                <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal" data-dismiss="modal" aria-label="Close">Войти</button>
                                                <button class="btn btn-light">Регистрация</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- navigation end -->
                </div>
                <div class="col-md-1">
                    <div class="cart">
                        <a th:href="@{/shopping-cart}">
                            <img src="/images/icons/1-1.svg" alt="" height="28px">
                            <div class="cart__number" th:text="${amountItems}"></div>
                        </a>
                        <div sec:authorize="isAuthenticated()">
                            <li><a th:href="@{/logout}">Выйти (<span sec:authentication="principal.username"></span>)</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>