#tabs .tab {
    display: inline-block; /* выстраиваем вкладки в один ряд */
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index:5;
}
#tabs .whiteborder {
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0  0;
}
#tabs .tabContent {
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}
#tabs {
    padding: 25px;
}
.file-field{
    padding-bottom: 15px;
}


