/* 
font-family: 'Muli', sans-serif;
font-family: 'Lora', serif;
*/
*{
	zoom: 0.99;
}
body {
	font-family: 'Muli', sans-serif;
	overflow-x: hidden;
}
/*
NAViGATION
*/
.logo{
	font-size: 23px;
	color: #041122;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}

.logo:hover{
	font-size: 23px;
	color: #f72464;
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}

.navigation{
	font-size: 15px;
	font-weight: 600;
	padding-top: 5px
}

.navigation__link{
	color: #52575D;
	text-decoration: none;
	margin-right: 30px;
}

.navigation__link:hover, .navigation__link:active, .navigation__link:focus{
	color: #f72464;
	text-decoration: none;
	margin-right: 30px;
}
.contacts{
	width: 10px;
}

.contacts .num{
	top: 0px;
	left: 35px;
	position: absolute;
}

.contacts:hover, .contacts:active, .contacts:focus{
	color: #f72464;
	text-decoration: none;
}

.cart{
	padding-top: 5px;
	color: #52575D;
	position: relative;
}

.cart__number{
	width: 19px;
	height: 19px;
	background-color: #f72464;
	border-radius: 10px;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	padding-top: 1px;
	position: absolute;
	left: 7px;
	top: 18px;
}

/*
HEADER
*/

.header {
	height: 700px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	display: flex;
	align-items: center;
	z-index: 1;
}
.header .container{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.header__bg{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 40%;
	top: 0;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url(/images/girl.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -1;
}
.header__content{
	width: 750px;
	padding-top: 50px;
}
.header__title{
	color: #000000;
	font-size: 80px;
	font-family: 'Lora', serif;
	line-height: 1.5;
	margin-bottom: 25px;
}
.header__description{
	color: #52575d;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 35px;
	max-width: 650px;
}
.header__button{
	background-color: #F72464;
	font-size: 16px;
	color: #fff;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 7px;
	height: 40px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	transition: all 0.2s ease-in;
}
.header__button:hover{
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.6);
	color: #FFF;
}

/*
CONTENT
*/

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}
.title {
	font-size: 45px;
	color: #222;
	font-family: 'Lora', Bold;
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
	font-weight: 500;
}
.subtitle {
	font-size: 12px;
	color: #919191;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 100px;
}
.card {
	font-family: 'Lora', serif;
	text-align: center;
	margin-bottom: 90px;
	margin: -15px;
	padding-bottom: 100px;
	width: 100%;
}
.card__image {
	margin-bottom: 20px;
	position: relative;
}
.card__hover{
	top: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.card__hover:hover{
	top: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.2s ease-in;
}
.card__image img {
	height: 330px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.card__title {
	color: #222;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}
.card__price {
	font-size: 13px;
	color: #da0f4d;
	font-weight: 600;
}
.card__price span {
	color: #919191;
	text-decoration: line-through;
	margin-right: 5px;
	padding-bottom: 100px;
}
.button-outline {
	border-color: rgb(247,36,100);
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	height: 40px;
	font-size: 14px;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	color: rgb(145,145,145);
	line-height: 2.667;
	text-align: center;
	width: 220px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

.button-outline:hover {
	background-color: #F72464;
	border-color: rgb(247,36,100);
	color: #fff;
	text-decoration: none;
}
.adv-wrapper
{
	height: 185px;
	background-color: #000;
}
.adv-content-center{
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}
.adv-wrapper--bg-1{
	background-image: url(/images/adv-block__imgs/adv__block--background1-.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.adv-wrapper--bg-2{
	background-image: url(/images/adv-block__imgs/adv__block--background2-.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.adv__title
{
	font-size: 60px;
	font-family: 'Lora', serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
}
.adv__button{
	font-family: 'Lora', serif;
	border-radius: 3px;
	background-color: rgb(247, 36, 100);
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
	height: 60px;
	line-height: 1;
	color: #fff;
	font-size: 22px;
	padding: 16px 60px;
	text-decoration: none;

}
.adv__button:hover{
	color: #fff;
	transition: all 0.2s ease-in;
	background-color: #da0f4d;
	text-decoration: none;
}
.card__button{
	background-color: #F72464;
	font-size: 14px;
	color: #fff;
	width: 120px;
	height: 40px;
	padding-top: 10px;
	border-radius: 3px;
	display: inline-block;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	transition: all 0.2s ease-in;
	margin-bottom: 12px;
}
.card__button:hover{
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.6);
	color: #FFF;
}
.card__image.hovered .card__hover{
	opacity: 1;
}
/* ----------------------

BLOG

-------------------------- */
.blog{
	margin-bottom: 25px;
}

.blog__title{
	font-family: 'Lora', serif;
	font-size: 18px;
	color: rgb(34,34,34);
	line-height: 1.667;

}
.blog__description{
	font-size: 15px;
	color: rgb(137,137,137);
	line-height: 1.667;
}
.blog__read-more{
	font-size: 15px;
	color: rgb(34,34,34);
	line-height: 1.2;
	font-weight: 600;
	font-family: 'Lora', serif;
	text-decoration: none;
}
.blog__read-more:hover{
	font-size: 15px;
	color: rgb(34,34,34);
	text-decoration: none;
}

/* ----------------------

FOOTER

-------------------------- */
.footer{
	background-color: rgb(0, 0, 0);
	padding: 20px 0 25px;
	text-align: center;
}

.footer__nav{
	margin-bottom: 20px;
}
.footer-nav__link{
	font-size: 13px;
	color: rgb(255, 255, 255);
	line-height: 1.52;
	margin-right: 35px;
	text-decoration: none;
}
.footer-nav__link:last-child{
	margin-right: 0px;
}
.footer-nav__link:hover{
	color: #F72464;
	text-decoration: none;
}

.footer__socials{
	margin-bottom: 20px;
	color: #fff;
	font-size: 25px;

}
.footer__socials a{
	color: #fff;
	text-decoration: none;
	margin-right: 25px;
}
.footer__socials a:hover{
	color: #F72464;
}
.footer__socials a:last-child{
	margin-right: 0;
}

.footer__copyright{
	font-size: 12px;
	color: rgb(137, 137, 137);
}
.description{
	font-size: 15px;
	color: rgb(137,137,137);
	line-height: 1.667;
	text-align: center;
	margin-bottom: -70px;
}
.marg__top-bot{
	margin-top: 20px;
	margin-bottom: 100px;
}
.subcribe{
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}
.subcribe__input{
	color: #00001e;
	font-size: 14px;
	line-height: 1.667;
	text-align: center;
	background-color: #fff;
	border-style: solid;
	border-radius: 3px;
	height: 38px;
	width: 248px;
	margin-right: 10px;
	border-color: #f72464;

}

.subcribe__input[type=text]:focus {
	border: 3px solid #555;
	color: #000;
	font-size: 14px;
}
.subcribe__button{
	background-color: #F72464;
	font-size: 15px;
	color: #fff;
	width: 120px;
	height: 38px;
	border-radius: 3px;
	line-height: 1.667;
	display: block;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	transition: all 0.2s ease-in;
	margin-bottom: 12px;
	cursor: pointer;
}
.subcribe__button:hover{
	background-color: #da0f4d;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.6);
	color: #FFF;
	vertical-align: middle;
	outline: none;
}
.subcribe__button:active {
	background-color: #000;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.6);
	color: #FFF;
	vertical-align: middle;
	outline: none;

}