<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KAZ SAUDA</title>
    <div th:replace="parts/header :: header-css"></div>
    <script src="../../../js/adding_item.js"></script>
</head>
<body>
<div th:replace="parts/header :: header-for-category"></div>

<div class="section">
    <div class="container">
        <h2 class="title">Bilezikter</h2>
        <div class="subtitle2">Ashekey buyim</div>
        <!-- row -->
        <div class="row">
            <!-- FIRTS LINE -->
            <!-- first col -->
            <div class="col-md-3" th:each="prod : ${products}">
                <div class="card" th:id="${prod.urlImage}"
                     data-th-attr="itemId=${prod.id} ,categoryType=${prod.typeCategory}">
                    <div class="card__image">
                        <img th:src="@{'/img_src/' + ${prod.urlImage}}" alt="product">
                        <div class="card__hover">
                            <input type="button" class='card__button-btn' value="SatipAly"/>
                            <a href="#" class="card__button">Karau</a>
                        </div>
                    </div>
                    <div class="card__title">
                        <p th:text="${prod.name}"></p>
                    </div>
                    <div class="card__price">
                        <label th:text="${prod.price}"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="pagination">

        <div class="pagination--class">
            <ul class="pagination">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{|/dombra?page=${pageNumber}|}" th:text=${pageNumber}>1</a>
                </li>
            </ul>
        </div>

    </div>

</div>
</body>
</html>