<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../../../css/styles.css">
    <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<div th:replace="parts/header :: header-for-cart"></div>
<!-- Start Shopping-Cart -->
<div class="shopping-cart">
    <div class="row">
        <div class="col-md-12">
            <div class="cart-title">

            </div>
            <!-- Start Table -->
            <div class="table-responsive">
                <form method="post" th:action="@{/create-order}" th:object="${order}">
                    <fieldset>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-center">Onim</td> <!-- Картинка имя категория -->
                                <td class="text-left">Artikyl</td>
                                <td class="text-left">Somasi</td>
                                <td class="text-center">Bagasi</td>
                                <td class="text-center">Barligy</td>
                            </tr>
                            </thead>
                            <!-- ORDERS -->
                            <tbody>

                            <tr th:each="item, itemStat : *{orderItemDtos}">
                                <td class="text-center">
                                    <a href="#">
                                        <img class="img-thumbnail"
                                             th:src="@{'/img_src/' + *{orderItemDtos[__${itemStat.index}__].urlImage}}"
                                             alt="product">
                                    </a>
                                    <li class="without--dot"><a href="#" class="text-center"><p
                                            th:text="*{orderItemDtos[__${itemStat.index}__].name}"></p>
                                    </a></li>
                                </td>
                                <td class="text-left">
                                    <li class="without--dot"><label
                                            th:text="*{orderItemDtos[__${itemStat.index}__].articul}"></label></li>
                                </td>
                                <td class="text-left">
                                    <div class="btn-block cart-put">
                                        <input class="form-control" type="number" placeholder="1" id=""
                                               th:id="${'sumOfTovar' + itemStat.index}"
                                               th:field="*{orderItemDtos[__${itemStat.index}__].amount}"
                                               th:attr="onclick='javascript:countMoney(\''+ ${'tovarPrice' + itemStat.index} +'\',\'' + ${'sumOfTovar' + itemStat.index} +'\',\'' + ${'subTotal' + itemStat.index} +'\');'"/>
                                        <div class="input-group-btn cart-buttons">
                                            <button class="btn btn-danger" data-toggle="tooltip" title="Remove">
                                            <span class="text--but"
                                                  onclick="deleteElem('sumOfTovar')">Alyp tastay</span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" th:id="${'tovarPrice' + itemStat.index}"
                                    th:text="*{orderItemDtos[__${itemStat.index}__].price}"></td>
                                <td class="text-center" th:id="${'subTotal' + itemStat.index}"
                                    th:text="*{orderItemDtos[__${itemStat.index}__].totalPrice}"></td>
                            </tr>

                            </tbody>
                            <!-- ORDERS END -- >

                            <!-- SECOND ROW -->
                        </table>
                        <button type="submit" value="submit" class="btn btn-success">Submit</button>
                    </fieldset>
                </form>
            </div>
            <!-- End Table -->

            <div class="row">

            </div>

            <div class="container float-right">
                <div class="row">
                    <div class="col">
                        <div class="shopping-checkout float-right">
                            <a href="#" class="btn btn-light pull-left">Kaita oraly</a>
                            <a href="#" class="btn btn-primary pull-right">Satip aly</a>
                        </div>
                    </div>
                    <div class="col-3 text-right no-padding">
                        <table class="table table-bordered">
                            <tbody style="width: 15px">
                            <tr>
                                <td width="140px" class="text-center">
                                    <strong>Barligy:</strong>
                                </td>
                                <td class="text-right" id="sumTest"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- End Shopping-Cart -->
<script type="text/javascript" src="../../../js/cart_js.js"></script>
</body>
</html>