<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>KAZ SAUDA</title>
    <!-- стили -->

    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Muli:300,400,600,700,800&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>


<!-- navigation -->
<nav class="nav-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="logo">kazsauda</a>
            </div>
            <div class="col-md-9">
                <div class="navigation">
                    <a href="#" class="navigation__link">Colection</a>
                    <a href="#" class="navigation__link">Zhanalyq</a>
                    <a href="#" class="navigation__link">Ylttiq kyimder</a>
                    <a href="#" class="navigation__link">Erler</a>
                    <a href="#" class="navigation__link">Ayelder</a>
                </div>
            </div>
            <div class="col-md-1">
                <div class="cart">
                    <img src="/images/icons/1-1.svg" alt="" height="28px">
                    <div class="cart__number">3</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="contacts">
                    <i class="fas fa-phone"></i>
                    <div class="num">+77086892990</div>
                </div>
            </div>

        </div>
    </div>
</nav>


<!-- header	 -->
<header class="header">
    <div class="container">
        <div class="header__bg"></div>
        <div class="header__content">
            <div class="header__title">Ulttyq kyimder qol zhetymdi bagada</div>
            <div class="header__description">Демо описание пример: текст какой-то еще больше
                текста something ewe ewe ewe text

            </div>
            <a href="#" class="header__button">Перейти</a>
        </div>
    </div>
</header>


<!-- products  -->
<div class="section">
    <div class="container">
        <h2 class="title">Zhana kelim</h2></div>
    <div class="subtitle">Decription</div>
</div>
</div>

<div class="card">
    <div class="card__image">
        <img src="/images/1.png" alt="product1">
    </div>
    <div class="card__title">
        Demo 1
    </div>
    <div class="card__price">
        <span>$100.00</span>
        $90.00
    </div>

</div>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>