<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KAZ SAUDA</title>
    <!-- стили -->

    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Muli:300,400,600,700,800&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>


<div th:replace="parts/header :: header"></div>


<!-- products  -->
<div class="section">
    <div class="container">
        <h2 class="title">Zhana kelim</h2></div>
    <div class="subtitle">Decription</div>
</div>
</div>

<div class="card">
    <div class="card__image">
        <img src="/images/1.png" alt="product1">
    </div>
    <div class="card__title">
        Demo 1
    </div>
    <div class="card__price">
        <span>$100.00</span>
        $90.00
    </div>

</div>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>