<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Cart</title>
	<link rel="stylesheet" href="../../../css/product_info.css">
</head>
<body>
<div th:replace="parts/header :: header-for-category"></div>
	<main class="container">
		
		<!-- Left Column / Headphones Image -->
		<div class="left-column">
			<div class="img--main">
				<img class="active" src="../../../images/slider/p1.jpg" alt="$id">
			</div>
		</div>
		
		
		<!-- Right Column -->
		<div class="right-column">
			<!-- Product Description -->
			<div class="product-description">
				<span>Headphones</span>
				<h1>Beats EP</h1>
				<p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
			</div>
			
			<!-- Product Configuration -->
			<div class="product-configuration">
				
				<!-- Product Color -->
				<div class="product-color">
					<span>Color</span>
					
					<div class="color-choose">
					<div class="cable-choose">
						<button>Straight</button>
						<button>Coiled</button>
					
					</div>
					</div>
					
				</div>
				
				<!-- Cable Configuration -->
				<div class="cable-config">
					<span>Cable configuration</span>
					
					<div class="cable-choose">
						<button>Straight</button>
						<button>Coiled</button>
					
					</div>
						<!-- Product Pricing -->
			<div class="product-price">
				<span>148$</span>
				<a href="#" class="cart-btn">Add to cart</a>
			</div>	
				</div>

		
			</div>
		</div>
	</main>
</body>
</html>