<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Hello my friend!!!</h4>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <label for="userName">Username</label>
        <input type="text" id="userName" name="username" autofocus="autofocus">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" autofocus="autofocus">
        <input type="submit" value="Sign In"/>
    </form>
</body>
</html>