<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <script src="../../../js/admin_page.js"></script>
    <link rel="stylesheet" href="../../../css/main_admin.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="../../../libs/bootstrap/js/ajax_libs_jquery_3.3.1_jquery.js"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"></script>
    <script src="../../../libs/bootstrap/js/bootstrap_3.4.0_js_bootstrap.js"></script>
    <div th:replace="parts/header :: header-css"></div>
</head>
<body>
<div th:replace="parts/header :: header-for-admin-panel"></div>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'ulttikKyimder');">Ұлттық киімдер</button>
    <button class="tablinks" onclick="openTab(event, 'ulltikAspaptar');">Ұлттық аспаптар</button>
    <button class="tablinks" onclick="openTab(event,'ultiikAchekey-Buimdar')">Ұлттық әшекей- бұйымдар</button>
</div>

<!--Will be all which belong to ulttikKyimder-->
<div id="ulttikKyimder" class="tabcontent">
    <h3>Ұлттық киімдер</h3>
</div>

<div id="ulltikAspaptar" class="tabcontent">
    <h3>Ұлттық аспаптар</h3>
</div>

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data" th:object="${cap}">
        <p>Название: <label>
            <input type="text" th:field="*{name}"/>
        </label></p>
        <p>Цена: <label>
            <input type="text" th:field="*{propertyCap.price}"/>
        </label></p>
        <p>Тип: <label>
            <select th:field="*{propertyCap.gender}">
                <option th:each="gender : ${genderTypes}"
                        th:value="${gender}"
                        th:text="${gender.label}">
                </option>
            </select>
        </label></p>
        <p>Цвет: <label>
            <select th:field="*{propertyCap.colorEnum}">
                <option th:each="color : ${colorEnum}"
                        th:value="${color}"
                        th:text="${color.label}">
            </select>
        </label></p>
        <p>Размер: <label>
            <select th:field="*{propertyCap.sizeEnum}">
                <option th:text="${size}"
                        th:each="size : ${sizeEnum}"
                        th:value="${size}">
                </option>
            </select>
        </label></p>
        <p>Материал: <label>
            <select th:field="*{propertyCap.materialEnum}">
                <option th:text="${material.label}"
                        th:each="material : ${materialEnum}"
                        th:value="${material}">
                </option>
            </select>
        </label></p>

        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Выберите изображение</span>
                <input type="file" name="file" id="customFile">
                <!--<td th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</td>-->
                <p th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error en el dato ingresado</p>
            </div>
        </div>
        <p><input type="submit" value="Создать" th:href="@{/admin/page}"/></p>
    </form>
</div>
</body>
</html>