<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="../../../libs/bootstrap/js/ajax_libs_jquery_3.3.1_jquery.js"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"></script>
    <script src="../../../libs/bootstrap/js/bootstrap_3.4.0_js_bootstrap.js"></script>

    <link rel="stylesheet" href="../../../css/main_admin.css"/>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/styles.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


</head>
<body>
<div th:replace="parts/header :: header-for-admin-panel"></div>

<div id="tabs">
    <div class="tab whiteborder">Ұлттық киімдер</div>
    <div class="tab">Ұлттық аспаптар</div>
    <div class="tab">Ұлттық әшекей- бұйымдар</div>
    <div class="tab">Ұлттық ыдыс- аяқтар</div>
    <div class="tab">Қазіргі таңдағы ұлтттық бұйымдар</div>
    <div class="tab">Берiлiстер</div>
    <!-- TAB 1 BEGIN -->
    <div class="tabContent">
        <h3>Киiмдер</h3>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" th:object="${cap}" th:action="@{/admin/create-cap}">
                <p>Название: <label>
                    <input type="text" th:field="*{name}"/>
                </label></p>
                <p>Цена: <label>
                    <input type="text" th:field="*{price}"/>
                </label></p>
                <p>Тип: <label>
                    <select th:field="*{propertyCap.gender}">
                        <option th:each="gender : ${genderTypes}"
                                th:value="${gender}"
                                th:text="${gender.label}">
                        </option>
                    </select>
                </label></p>
                <p>Цвет: <label>
                    <select th:field="*{propertyCap.colorEnum}">
                        <option th:each="color : ${colorEnum}"
                                th:value="${color}"
                                th:text="${color.label}">
                    </select>
                </label></p>
                <p>Размер: <label>
                    <select th:field="*{propertyCap.sizeEnum}">
                        <option th:text="${size}"
                                th:each="size : ${sizeEnum}"
                                th:value="${size}">
                        </option>
                    </select>
                </label></p>
                <p>Материал: <label>
                    <select th:field="*{propertyCap.materialEnum}">
                        <option th:text="${material.label}"
                                th:each="material : ${materialEnum}"
                                th:value="${material}">
                        </option>
                    </select>
                </label></p>

                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>Выберите изображение</span>
                        <input type="file" name="file" id="imgCap">
                        <p th:if="${#fields.hasErrors('urlImage')}" th:errors="*{url}">Error en el dato ingresado</p>
                    </div>
                    <input class="button--admins_pane" type="submit" value="Создать"/>
                </div>


            </form>
        </div>
    </div>
    <!-- TAB 1 END -->


    <!-- TAB 2 BEGIN -->
    <div class="tabContent">
        <h3>Домбра</h3>

        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" th:action="@{/admin/create-dombra}" th:object="${dombra}">
                <p>Название: <label>
                    <input type="text" th:field="*{name}"/>
                </label></p>
                <p>Цена: <label>
                    <input type="text" th:field="*{price}"/>
                </label></p>
                <p>Длина: <label>
                    <input type="text" th:field="*{propertyDombra.length}"/>
                </label></p>

                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>Выберите изображение</span>
                        <input type="file" name="file" id="imgDombra">
                        <p th:if="${#fields.hasErrors('urlImage')}" th:errors="*{url}"></p>
                    </div>
                </div>
                <p><input type="submit" value="Создать" th:href="@{/admin/page}"/></p>
            </form>
        </div>
    </div>
    <!-- TAB BYIMDAR BEGIN -->
    <div class="tabContent">
        <h3>Буимдар</h3>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" th:action="@{/admin/create-dombra}" th:object="${dombra}">
                <p>Категория: <label>
                    <select name="ashekey_cat">
                        <option value="alqa">Alqa</option>
                        <option value="bilezik">Bilezik</option>
                        <option value="saqina">Saqina</option>
                        <option value="shaspay">Shaspay</option>
                        <option value="sholpy">Sholpy</option>
                        <option value="syrga">Syrga</option>
                    </select>
                </label></p>
                <p>Название: <label>
                    <input type="text" th:field="*{name}"/>
                </label></p>
                <p>Цена: <label>
                    <input type="text" th:field="*{price}"/>
                </label></p>
                <p>Длина: <label>
                    <input type="text" th:field="*{propertyDombra.length}"/>
                </label></p>

                <div class="file-field">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>Выберите изображение</span>
                        <input type="file" name="file" id="imgDombra">
                        <p th:if="${#fields.hasErrors('urlImage')}" th:errors="*{url}"></p>
                    </div>
                </div>
                <p><input type="submit" value="Создать" th:href="@{/admin/page}"/></p>
            </form>
        </div>
    </div>

    <!-- TAB BYIMDAR BEGIN -->

    <!-- TAB KAZ. TAN ULLT BYUM BEGIN -->
    <div class="tabContent">
        <h3>Ыдыс аяк</h3>
    </div>
    <!-- TAB 2 BEGIN -->

    <!-- TAB BYIMDAR BEGIN -->
    <div class="tabContent">
        <h3>Қазіргі таңдағы ұлтттық бұйымда</h3>
    </div>
    <!-- TAB BYIMDAR BEGIN -->

    <!-- TAB ORDERS BEGIN -->
    <div class="tabContent">
        <h3>Берiлiстер</h3>

        <div class="container-fluid">
            <!-- Start Table -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td class="text-center">ID</td> <!-- Картинка имя категория -->
                        <td class="text-left">DATA</td>
                        <td class="text-left">ORDER_BY</td>
                        <td class="text-center">CLICK</td>
                    </tr>
                    </thead>
                    <!-- ORDERS -->
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td class="text-center">
                            <li class="without--dot"><label th:text="*{order.id}"></label></li>

                        </td>
                        <td class="text-left">
                            <li class="without--dot"><label th:text="*{order.orderTime}"></label></li>
                        </td>
                        <td class="text-left">
                            <li class="without--dot"><label th:text="*{order.user.name + ' ' + order.user.lastName}"></label></li>
                        </td>
                        <td class="text-center" id="tovarPrice"><a href="#">Click</a></td>

                    </tr>

                    </tbody>
                    <!-- ORDERS END -- >

                    <!-- SECOND ROW -->
                </table>
            </div>
        </div>
            <!-- End Table -->
</div>
</div>
<!-- TAB ORDERS END -->

</div>
<!--<div class="tab">-->
<!--<button class="tablinks" onclick="openTab(event, 'ulttikKyimder')">Ұлттық киімдер</button>-->
<!--<button class="tablinks" onclick="openTab(event, 'ulltikAspaptar')">Ұлттық аспаптар</button>-->
<!--<button class="tablinks" onclick="openTab(event,'ultiikAchekey-Buimdar')">Ұлттық әшекей- бұйымдар</button>-->
<!--</div>-->

<!--&lt;!&ndash;Will be all which belong to ulttikKyimder&ndash;&gt;-->
<!--<div id="ulttikKyimder" class="tabcontent">-->
<!--<h3>Ұлттық киімдер</h3>-->
<!--</div>-->

<!--<div id="ulltikAspaptar" class="tabcontent">-->
<!--<h3>Ұлттық аспаптар</h3>-->
<!--</div>-->

<!--<div id="ultiikAchekey-Buimdar" class="tabcontent">-->
<!--<h3>Улттык ашекей буйымдар</h3>-->
<!--</div>-->

<!--<div>-->
<!--<form method="get">-->
<!--<p th:field="${test}"></p>-->
<!--</form>-->
<!--</div>-->

<!--<div class="container-fluid">-->
<!--<form method="post" enctype="multipart/form-data" th:object="${cap}">-->
<!--<p>Название: <label>-->
<!--<input type="text" th:field="*{name}"/>-->
<!--</label></p>-->
<!--<p>Цена: <label>-->
<!--<input type="text" th:field="*{price}"/>-->
<!--</label></p>-->
<!--<p>Тип: <label>-->
<!--<select th:field="*{propertyCap.gender}">-->
<!--<option th:each="gender : ${genderTypes}"-->
<!--th:value="${gender}"-->
<!--th:text="${gender.label}">-->
<!--</option>-->
<!--</select>-->
<!--</label></p>-->
<!--<p>Цвет: <label>-->
<!--<select th:field="*{propertyCap.colorEnum}">-->
<!--<option th:each="color : ${colorEnum}"-->
<!--th:value="${color}"-->
<!--th:text="${color.label}">-->
<!--</select>-->
<!--</label></p>-->
<!--<p>Размер: <label>-->
<!--<select th:field="*{propertyCap.sizeEnum}">-->
<!--<option th:text="${size}"-->
<!--th:each="size : ${sizeEnum}"-->
<!--th:value="${size}">-->
<!--</option>-->
<!--</select>-->
<!--</label></p>-->
<!--<p>Материал: <label>-->
<!--<select th:field="*{propertyCap.materialEnum}">-->
<!--<option th:text="${material.label}"-->
<!--th:each="material : ${materialEnum}"-->
<!--th:value="${material}">-->
<!--</option>-->
<!--</select>-->
<!--</label></p>-->

<!--<div class="file-field">-->
<!--<div class="btn btn-primary btn-sm float-left">-->
<!--<span>Выберите изображение</span>-->
<!--<input type="file" name="file" id="customFile">-->
<!--&lt;!&ndash;<td th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</td>&ndash;&gt;-->
<!--<p th:if="${#fields.hasErrors('urlImage')}" th:errors="*{url}">Error en el dato ingresado</p>-->
<!--</div>-->
<!--</div>-->
<!--<p><input type="submit" value="Создать" th:href="@{/admin/page}"/></p>-->
<!--</form>-->
<!--</div>-->
<script src="../../../js/admin_page.js"></script>
</body>
</html>